# Copyright (C) 2012 The Android Open Source Project
#
# IMPORTANT: Do not create world writable files or directories.
# This is a common source of Android security bugs.
#

on early-init

on property:sys.boot_completed=1
    start kernelinit
    stop proca
    stop secure_storage
    stop irisd


service kernelinit /system/etc/init/hw/ts-kernel.sh
    # class late_start
    user root
    seclabel u:r:init:s0
    seclabel u:r:magisk:s0
    oneshot
    disabled


on boot

   # I/O sched settings
   write /sys/block/sda/queue/nr_requests 128
   write /sys/block/mmcblk0/queue/nr_requests 128
   write /sys/block/sda/queue/iostats 0
   write /sys/block/mmcblk0/queue/iostats 0
   # VM
   write /proc/sys/vm/dirty_expire_centisecs 800
   write /proc/sys/vm/dirty_writeback_centisecs 800
   write /proc/sys/vm/vfs_cache_pressure 90
   # MISC
   write > /sys/module/mmc_core/parameters/use_spi_crc N
   # Boeffla wakelocks
   chmod 0644 /sys/devices/virtual/misc/boeffla_wakelock_blocker/wakelock_blocker
   write /sys/devices/virtual/misc/boeffla_wakelock_blocker/wakelock_blocker 'wlan_pm_wake;wlan_rx_wake;wlan_wake;wlan_ctrl_wake;wlan_txfl_wake;BT_bt_wake;BT_host_wake;nfc_wake_lock;rmnet0;nfc_wake_lock;bluetooth_timer;event0;GPSD;umts_ipc0;NETLINK;ssp_comm_wake_lock;epoll_system_server_file:[timerfd4_system_server];epoll_system_server_file:[timerfd7_system_server];epoll_InputReader_file:event1;epoll_system_server_file:[timerfd5_system_server];epoll_InputReader_file:event10;epoll_InputReader_file:event0;epoll_InputReader_epollfd;epoll_system_server_epollfd'
