diff a/arch/arm64/Kconfig b/arch/arm64/Kconfig	(rejected hunks)
@@ -120,6 +120,7 @@ config ARM64
 	select HAVE_LD_DEAD_CODE_DATA_ELIMINATION
 	select HAVE_MEMBLOCK
 	select HAVE_MEMBLOCK_NODE_MAP if NUMA
+	select HAVE_MOVE_PMD
 	select HAVE_PATA_PLATFORM
 	select HAVE_PERF_EVENTS
 	select HAVE_PERF_REGS
